<launch>

  <arg name="rviz" default="true" />

  <!-- main -->

  <node name="look_around_bin"
        pkg="icra2017" type="look-around-bin.l"
        required="true">
  </node>

  <arg name="INPUT_IMAGE" value="/right_hand_camera/rgb/image_rect_color" />
  <arg name="INPUT_CLOUD" value="/right_hand_camera/depth_registered/points" />

  <!-- common pipeline -->

  <!-- my method specific pipeline -->

  <node name="passthrough_cloud"
        pkg="jsk_topic_tools" type="passthrough">
    <remap from="~input" to="$(arg INPUT_CLOUD)" />
  </node>

  <!-- pipeline for benchmark -->

  <!-- annotation for visualization -->

  <node name="transformable_interactive_server"
        pkg="jsk_interactive_marker" type="transformable_server_sample">
    <rosparam subst_value="true">
      display_interactive_manipulator: true
      display_interactive_manipulator_only_selected: true
    </rosparam>
  </node>
  <node name="transformable_boxes"
        pkg="fcn_3d" type="transformable_boxes_client"
        output="screen">
    <remap from="~server" to="transformable_interactive_server" />
    <rosparam subst_value="true">
      config_file: $(arg annotation_config_file)
      config_auto_save: true
    </rosparam>
  </node>

  <!-- visualization -->

  <group if="$(arg rviz)">
    <node name="$(anon rviz)"
          pkg="rviz" type="rviz"
          args="-d $(find icra2017)/rvizconfig/look_around_bin.rviz">
    </node>
  </group>

</launch>
