<launch>

  <arg name="rviz" default="true" />

  <node name="look_around_bin"
        pkg="icra2017" type="look-around-bin.l"
        required="true">
  </node>

  <node name="rosbag_record"
        pkg="icra2017" type="rosbag_record_look_around_bin.bash">
  </node>

  <arg name="INPUT_CLOUD" value="/right_hand_camera/depth_registered/points" />
  <node name="passthrough_cloud"
        pkg="jsk_topic_tools" type="passthrough">
    <remap from="~input" to="$(arg INPUT_CLOUD)" />
  </node>

  <group if="$(arg rviz)">
    <node name="$(anon rviz)"
          pkg="rviz" type="rviz"
          args="-d $(find icra2017)/rvizconfig/look_around_bin.rviz">
    </node>
  </group>

</launch>
