<launch>

  <arg name="label_value" />
  <arg name="launch_main" default="true" />
  <arg name="rviz" default="true" />
  <arg name="rosbag" default="true" />

  <node name="publish_bin_bboxes"
        pkg="jsk_apc2016_common" type="publish_bin_bbox.py"
        output="screen">
    <remap from="~boxes" to="~output" />
    <rosparam file="$(find jsk_apc2016_common)/config/bin_upper_shelf.yaml" command="load" ns="upper_shelf"/>
    <rosparam file="$(find jsk_apc2016_common)/config/bin_lower_shelf.yaml" command="load" ns="lower_shelf"/>
  </node>

  <!-- main -->

  <group if="$(arg launch_main)">
    <node name="pick_backward_object"
          pkg="label_octomap" type="pick-backward-object.l"
          required="true" output="screen">
      <rosparam subst_value="true">
        target_label: $(arg label_value)
      </rosparam>
    </node>
    <node if="$(arg rosbag)"
          name="rosbag_record"
          pkg="rosbag" type="record"
          args="/tf
                /robot/joint_states

                /pick_backward_object/output/start
                /pick_backward_object/output/stop

                /right_hand_camera/rgb/camera_info
                /right_hand_camera/rgb/image_raw
                /right_hand_camera/depth_registered/camera_info
                /right_hand_camera/depth_registered/image_raw

                /bbox_array_to_bbox/output
                /label_image_decomposer/output/label_viz
                /label_octomap_server/output/marker_array/occupied
                /cluster_indices_decomposer_voxels/centroid_pose_array
                /right_hand_camera/cluster_indices_decomposer_target/boxes
                /right_hand_camera/cluster_indices_decomposer_target/centroid_pose_array

                -b 0
                -O $(optenv HOME)/.ros/label_octomap/$(arg label_value)_pick_backward_object.bag
          ">
    </node>
  </group>

  <arg name="MANAGER" value="look_around_bin_nodelet_manager" />
  <node name="$(arg MANAGER)"
        pkg="nodelet" type="nodelet" args="manager" />

  <arg name="INPUT_IMAGE" value="/right_hand_camera/rgb/image_rect_color" />
  <arg name="INPUT_CLOUD" value="/right_hand_camera/depth_registered/points" />
  <arg name="INPUT_DEPTH_INFO" value="/right_hand_camera/depth_registered/camera_info" />

  <node name="rearrange_bbox"
        pkg="nodelet" type="nodelet"
        args="load jsk_pcl/RearrangeBoundingBox $(arg MANAGER)">
    <remap from="~input" to="publish_bin_bboxes/output" />
    <rosparam>
      scale_x: 1.3
      scale_y: 1.5
      scale_z: 1.5
    </rosparam>
  </node>
  <node name="bbox_array_to_bbox"
        pkg="nodelet" type="nodelet"
        args="load jsk_pcl_utils/BoundingBoxArrayToBoundingBox $(arg MANAGER)">
    <remap from="~input" to="rearrange_bbox/output" />
    <rosparam>
      index: 5  # bin F
    </rosparam>
  </node>
  <node name="attention_clipper_target_bin"
        pkg="nodelet" type="nodelet"
        args="load jsk_pcl/AttentionClipper $(arg MANAGER)">
    <remap from="~input" to="$(arg INPUT_DEPTH_INFO)" />
    <remap from="~input/points" to="$(arg INPUT_CLOUD)" />
    <remap from="~input/box" to="bbox_array_to_bbox/output" />
    <rosparam>
      use_multiple_attention: false
    </rosparam>
  </node>
  <node name="extract_indices_target_bin"
        pkg="nodelet" type="nodelet"
        args="load jsk_pcl/ExtractIndices $(arg MANAGER)">
    <remap from="~input" to="$(arg INPUT_CLOUD)" />
    <remap from="~indices" to="attention_clipper_target_bin/output/point_indices" />
    <rosparam>
      keep_organized: true
    </rosparam>
  </node>
  <arg name="TARGET_BIN_CLOUD" value="extract_indices_target_bin/output" />

  <include file="$(find label_octomap)/launch/object_segmentation_3d.launch">
    <arg name="label_value" value="-1" /> <!-- dummy -->
    <arg name="INPUT_CLOUD" value="extract_indices_target_bin/output" />
  </include>

  <node name="cluster_indices_decomposer_voxels"
        pkg="nodelet" type="nodelet"
        args="load jsk_pcl/ClusterPointIndicesDecomposer $(arg MANAGER)">
    <remap from="~input" to="label_octomap_server/output/points" />
    <remap from="~target" to="label_octomap_server/output/cluster_indices" />
    <rosparam>
      approximate_sync: false
      queue_size: 100
      min_size: 10
    </rosparam>
  </node>

  <!-- estimate bbox to pick object -->
  <node name="cluster_indices_to_indices"
        pkg="nodelet" type="nodelet"
        args="load jsk_pcl_utils/ClusterPointIndicesToPointIndices $(arg MANAGER)">
    <remap from="~input" to="label_octomap_server/output/cluster_indices" />
    <rosparam>
      index: -1
    </rosparam>
  </node>
  <node name="extract_indices"
        pkg="nodelet" type="nodelet"
        args="load jsk_pcl/ExtractIndices $(arg MANAGER)">
    <remap from="~input" to="label_octomap_server/output/points" />
    <remap from="~indices" to="cluster_indices_to_indices/output" />
    <rosparam>
      approximate_sync: false
      queue_size: 100
    </rosparam>
  </node>
  <node name="euclidean_clustering"
        pkg="nodelet" type="nodelet"
        args="load jsk_pcl/EuclideanClustering $(arg MANAGER)">
    <remap from="~input" to="extract_indices/output" />
    <rosparam>
      min_size: 10
      max_size: 10000
      tolerance: 0.04
    </rosparam>
  </node>
  <node name="cluster_indices_decomposer_target"
        pkg="nodelet" type="nodelet"
        args="load jsk_pcl/ClusterPointIndicesDecomposer $(arg MANAGER)">
    <remap from="~input" to="extract_indices/output" />
    <remap from="~target" to="euclidean_clustering/output" />
    <remap from="~boxes" to="/right_hand_camera/cluster_indices_decomposer_target/boxes" />
    <remap from="~centroid_pose_array" to="/right_hand_camera/cluster_indices_decomposer_target/centroid_pose_array" />
    <rosparam>
      approximate_sync: false
      queue_size: 100
    </rosparam>
  </node>

  <!-- visualization -->

  <group if="$(arg rviz)">
    <node name="$(anon rviz)"
          pkg="rviz" type="rviz"
          args="-d $(find label_octomap)/rvizconfig/look_around_bin.rviz">
    </node>
  </group>

</launch>
