<launch>

  <arg name="label_value" />

  <arg name="rviz" default="true" />

  <!-- play rosbag -->

  <param name="robot_description" command="$(find xacro)/xacro.py $(find jsk_2016_01_baxter_apc)/robots/baxter.xacro" />

  <param name="use_sim_time" value="true" />
  <node name="rosbag_play"
        pkg="rosbag" type="play"
        args="$(optenv HOME)/.ros/label_octomap/$(arg label_value)_look_around_bin.bag --clock --start 25"
        launch-prefix="xterm -e">
  </node>

  <include file="$(find openni2_launch)/launch/openni2.launch">
    <arg name="camera" value="right_hand_camera"/>
    <arg name="load_driver" value="false"/>
    <arg name="depth_registration" value="true"/>
    <arg name="publish_tf" value="false"/>
  </include>

  <include file="$(find label_octomap)/launch/object_segmentation_3d.launch">
    <arg name="label_value" value="$(arg label_value)" />
  </include>

  <!-- annotation for visualization -->

  <node name="transformable_interactive_server"
        pkg="jsk_interactive_marker" type="transformable_server_sample">
    <rosparam subst_value="true">
      display_interactive_manipulator: true
      display_interactive_manipulator_only_selected: true
    </rosparam>
  </node>
  <node name="transformable_boxes"
        pkg="jsk_interactive_marker" type="transformable_markers_client.py"
        output="screen">
    <remap from="~server" to="transformable_interactive_server" />
    <rosparam subst_value="true">
      config_file: $(find label_octomap)/config/$(arg label_value).yaml
      config_auto_save: true
    </rosparam>
  </node>

  <!-- Node to evaluate the segmentation -->
  <node name="evaluate_label_octomap"
        pkg="label_octomap" type="evaluate_label_octomap"
        output="screen"
        required="true">
    <rosparam subst_value="true">
      label_value: $(arg label_value)
    </rosparam>
  </node>

  <!-- visualization -->

  <group if="$(arg rviz)">
    <node name="$(anon rviz)"
          pkg="rviz" type="rviz"
          args="-d $(find label_octomap)/rvizconfig/look_around_bin_rosbag.rviz">
    </node>
  </group>

</launch>
