<launch>

  <arg name="label_value" />

  <arg name="rviz" default="true" />

  <!-- play rosbag -->

  <param name="robot_description" command="$(find xacro)/xacro.py $(find jsk_2016_01_baxter_apc)/robots/baxter.xacro" />

  <param name="use_sim_time" value="true" />
  <node name="rosbag_play"
        pkg="rosbag" type="play"
        args="$(optenv HOME)/.ros/label_octomap/$(arg label_value)_look_around_bin.bag --clock --start 25"
        required="true">
  </node>

  <include file="$(find openni2_launch)/launch/openni2.launch">
    <arg name="camera" value="right_hand_camera"/>
    <arg name="load_driver" value="false"/>
    <arg name="depth_registration" value="true"/>
    <arg name="publish_tf" value="false"/>
  </include>

  <include file="$(find label_octomap)/launch/object_segmentation_3d.launch">
    <arg name="label_value" value="$(arg label_value)" />
  </include>

  <arg name="MANAGER" value="right_hand_camera/right_hand_camera_manager" />
  <group ns="right_hand_camera">
    <node name="right_hand_camera_manager"
          pkg="nodelet" type="nodelet" args="manager" />
  </group>

  <node name="call_pasthrough_three_views"
        pkg="label_octomap" type="call_passthrough_three_views.py">
    <remap from="~start" to="passthrough_cloud/request" />
    <remap from="~stop" to="passthrough_cloud/stop" />
  </node>

  <!-- annotation for visualization -->

  <node name="transformable_interactive_server"
        pkg="jsk_interactive_marker" type="transformable_server_sample">
    <rosparam subst_value="true">
      display_interactive_manipulator: true
      display_interactive_manipulator_only_selected: true
    </rosparam>
  </node>
  <node name="transformable_boxes"
        pkg="jsk_interactive_marker" type="transformable_markers_client.py"
        output="screen">
    <remap from="~server" to="transformable_interactive_server" />
    <rosparam subst_value="true">
      config_file: $(find label_octomap)/config/$(arg label_value).yaml
      config_auto_save: true
    </rosparam>
  </node>
  <node name="bboxes_to_gt_box"
        pkg="nodelet" type="nodelet"
        args="load jsk_pcl_utils/BoundingBoxArrayToBoundingBox $(arg MANAGER)">
    <remap from="~input" to="transformable_boxes/output/boxes" />
    <rosparam>
      index: 0
    </rosparam>
  </node>

  <!-- Node to evaluate the segmentation -->
  <group ns="label_octomap">
    <node name="evaluate_voxel_seg_by_gt"
          pkg="jsk_pcl_ros_utils" type="evaluate_voxel_segmentation_by_gt_box.py">
      <remap from="~input/box_gt" to="/bboxes_to_gt_box/output" />
      <remap from="~input/markers" to="/label_octomap_server/output/marker_array/occupied" />
      <rosparam subst_value="true">
        marker_ns: $(arg label_value)
      </rosparam>
    </node>
    <node name="evaluate_box_seg_by_gt"
          pkg="jsk_pcl_ros_utils" type="evaluate_box_segmentation_by_gt_box.py">
      <remap from="~input/box_gt" to="/bboxes_to_gt_box/output" />
      <remap from="~input/box" to="bboxes_to_bbox/output" />
    </node>
  </group>
  <group ns="single_registration">
    <node name="evaluate_voxel_seg_by_gt"
          pkg="jsk_pcl_ros_utils" type="evaluate_voxel_segmentation_by_gt_box.py">
      <remap from="~input/box_gt" to="/bboxes_to_gt_box/output" />
      <remap from="~input/markers" to="octree_voxel_grid/output_marker_array" />
    </node>
    <node name="evaluate_box_seg_by_gt"
          pkg="jsk_pcl_ros_utils" type="evaluate_box_segmentation_by_gt_box.py">
      <remap from="~input/box_gt" to="/bboxes_to_gt_box/output" />
      <remap from="~input/box" to="bboxes_to_bbox/output" />
    </node>
  </group>

  <!-- visualization -->

  <group if="$(arg rviz)">
    <node name="$(anon rviz)"
          pkg="rviz" type="rviz"
          args="-d $(find label_octomap)/rvizconfig/look_around_bin_rosbag.rviz">
    </node>
  </group>

  <!-- dump log -->
  <node name="rosbag_record"
        pkg="rosbag" type="record"
        args="-b 0
              -O $(find label_octomap)/eval_result/rosbags/$(arg label_value).bag
              /look_around_bin_main/output/start
              /look_around_bin_main/output/stop
              /label_octomap/evaluate_voxel_seg_by_gt/output
              /label_octomap/evaluate_box_seg_by_gt/output
              /single_registration/evaluate_voxel_seg_by_gt/output
              /single_registration/evaluate_box_seg_by_gt/output
             ">
  </node>

</launch>
